cursoArquitecturaJava/LABM1C3-02BasicWS-Web/timeService.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://jaxws.jaad.cibertec.edu/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://jaxws.jaad.cibertec.edu/" name="BasicTimeServiceService">
<types>
<xsd:schema>
<xsd:import namespace="http://jaxws.jaad.cibertec.edu/" schemaLocation="http://localhost:8080/timeService?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="registrarCliente">
<part name="parameters" element="tns:registrarCliente"></part>
</message>
<message name="registrarClienteResponse">
<part name="parameters" element="tns:registrarClienteResponse"></part>
</message>
<message name="timeStr">
<part name="parameters" element="tns:timeStr"></part>
</message>
<message name="timeStrResponse">
<part name="parameters" element="tns:timeStrResponse"></part>
</message>
<message name="listarCliente">
<part name="parameters" element="tns:listarCliente"></part>
</message>
<message name="listarClienteResponse">
<part name="parameters" element="tns:listarClienteResponse"></part>
</message>
<message name="obtenerCliente">
<part name="parameters" element="tns:obtenerCliente"></part>
</message>
<message name="obtenerClienteResponse">
<part name="parameters" element="tns:obtenerClienteResponse"></part>
</message>
<message name="getTimeAsElapsed">
<part name="parameters" element="tns:getTimeAsElapsed"></part>
</message>
<message name="getTimeAsElapsedResponse">
<part name="parameters" element="tns:getTimeAsElapsedResponse"></part>
</message>
<portType name="TimeService">
<operation name="registrarCliente">
<input wsam:Action="http://jaxws.jaad.cibertec.edu/TimeService/registrarClienteRequest" message="tns:registrarCliente"></input>
<output wsam:Action="http://jaxws.jaad.cibertec.edu/TimeService/registrarClienteResponse" message="tns:registrarClienteResponse"></output>
</operation>
<operation name="timeStr">
<input wsam:Action="http://jaxws.jaad.cibertec.edu/TimeService/timeStrRequest" message="tns:timeStr"></input>
<output wsam:Action="http://jaxws.jaad.cibertec.edu/TimeService/timeStrResponse" message="tns:timeStrResponse"></output>
</operation>
<operation name="listarCliente">
<input wsam:Action="http://jaxws.jaad.cibertec.edu/TimeService/listarClienteRequest" message="tns:listarCliente"></input>
<output wsam:Action="http://jaxws.jaad.cibertec.edu/TimeService/listarClienteResponse" message="tns:listarClienteResponse"></output>
</operation>
<operation name="obtenerCliente">
<input wsam:Action="http://jaxws.jaad.cibertec.edu/TimeService/obtenerClienteRequest" message="tns:obtenerCliente"></input>
<output wsam:Action="http://jaxws.jaad.cibertec.edu/TimeService/obtenerClienteResponse" message="tns:obtenerClienteResponse"></output>
</operation>
<operation name="getTimeAsElapsed">
<input wsam:Action="http://jaxws.jaad.cibertec.edu/TimeService/getTimeAsElapsedRequest" message="tns:getTimeAsElapsed"></input>
<output wsam:Action="http://jaxws.jaad.cibertec.edu/TimeService/getTimeAsElapsedResponse" message="tns:getTimeAsElapsedResponse"></output>
</operation>
</portType>
<binding name="BasicTimeServicePortBinding" type="tns:TimeService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="registrarCliente">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="timeStr">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="listarCliente">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="obtenerCliente">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getTimeAsElapsed">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="BasicTimeServiceService">
<port name="BasicTimeServicePort" binding="tns:BasicTimeServicePortBinding">
<soap:address location="http://localhost:8080/timeService"></soap:address>
</port>
</service>
</definitions>